<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>622357353461-qp9qsn3d0kobcahtuv6s5epbvnhvaneo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWXh2tc_-2QR-8vguRLbqPV93zLYjuTBE</string>
	<key>GCM_SENDER_ID</key>
	<string>622357353461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.silversuperapp</string>
	<key>PROJECT_ID</key>
	<string>silver-65166</string>
	<key>STORAGE_BUCKET</key>
	<string>silver-65166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622357353461:ios:49713dd892dd2b6ab4c6bc</string>
</dict>
</plist>